{% load static %}
<!--Start topbar header-->
<header class="topbar-nav">
    <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link toggle-menu" href="javascript:void();">
                    <i class="icon-menu menu-icon"></i>
                </a>
            </li>
            <li class="nav-item">
                <form class="search-bar">
                    <input type="text" class="form-control" placeholder="Enter keywords">
                    <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav align-items-center right-nav-link">
            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                   href="javascript:void();">
                    <i class="fa fa-envelope-open-o"></i></a>
            </li>
            <li class="nav-item dropdown-lg">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                   href="javascript:void();">
                    <i class="fa fa-bell-o"></i></a>
            </li>
            <li class="nav-item language">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                   href="javascript:void();"><i class="fa-flag"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item"><i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                    <li class="dropdown-item"><i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                    <li class="dropdown-item"><i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                    <li class="dropdown-item"><i class="flag-icon flag-icon-de mr-2"></i> German</li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                    {% if user.profile_pic == "" %}
                        <span class="user-img"><img class="rounded-circle" src="{% static 'assets/avatar.jpg' %}"
                                                    width="31" alt="Ryan Taylor"></span>
                    {% else %}
                        <span class="user-img"><img class="rounded-circle" src="{{ user.profile_pic }}" height="40"
                                                    width="31"
                                                    alt="Ryan Taylor"></span>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item user-details">
                        <a href="javaScript:void();">
                            <div class="media">
                                <div class="avatar">
                                    {% if user.profile_pic == "" %}
                                        <img src="{% static 'assets/avatar.jpg' %}" alt="User Image"
                                             class="avatar-img rounded-circle">
                                    {% else %}
                                        <img src="{{ user.profile_pic }}" alt="User Image"
                                             class="avatar-img rounded-circle">
                                    {% endif %}</div>

                                <div class="media-body">
                                    <h6>{{ user.first_name }}&nbsp;{{ user.last_name }}</h6>
                                    {% if user.user_type == '1' %}
                                        <p class="text-muted mb-0">Hod(Head of Department)</p>
                                    {% elif user.user_type == '2' %}
                                        <p class="text-muted mb-0">Admin mine</p>
                                    {% else %}
                                        <p class="text-muted mb-0">Talaba</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><i class="icon-envelope mr-2"></i><a
                            href="{% url 'index' %}"> website</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><i class="icon-wallet mr-2"></i><a href="{% url 'profile' %}">Account</a></li>
                    <li class="dropdown-divider"></li>
                    <li href="" class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><i class="icon-power mr-2"></i><a href="{% url 'dologout' %}">Logout </a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<!--End topbar header-->
