{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!-- main-area -->
    <main class="main--area">

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area" data-background="assets/img/bg/breadcrumb_bg01.jpg">
            <div class="container">
                <div class="breadcrumb__wrapper">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="breadcrumb__content">
                                <h2 class="title">ABOUT US</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">ABOUT US</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 position-relative d-none d-lg-block">
                            <div class="breadcrumb__img">
                                <img src="{% static 'pubg-circle.png' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- about-area -->
        <section class="about__area-three section-pt-130 section-pb-130">
            <div class="container">
                <div class="row">
                    {% for i in about_know %}
                    <div class="col-xl-4">
                        <div class="about__title-wrap">
                            <h2 class="title">
                                <i>{{ i.title|slice:"0:8" }}</i>
                                <span>{{ i.title|slice:"9:18" }}</span>
                                <i>{{ i.title|slice:"19:25" }}</i>
                                <i><b>{{ i.title|slice:"26:40" }}</b></i>
                            </h2>
                            <div class="about__content-circle">
                                <img src="assets/img/icons/circle.svg" alt="img">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" version="1.1">
                                    <path id="textPath" d="M 0,75 a 75,75 0 1,1 0,1 z"></path>
                                    <text>
                                        <a href="https://t.me/TeamT_02">
                                        <textPath href="#textPath">@TeamT_02</textPath>
                                            </a>
                                    </text>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="about__three-images">
                            <img src="{{ i.images_one.url }}" alt="img" class="left">
                            <img src="{{ i.images_two.url }}" alt="img" class="right">
                            <div class="about__dots">
                                <svg width="109" height="35" viewBox="0 0 109 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 0H0V7H9V0Z" fill="currentcolor" />
                                    <path d="M24 0H15V7H24V0Z" fill="currentcolor" />
                                    <path d="M38 0H29V7H38V0Z" fill="currentcolor" />
                                    <path d="M53 0H44V7H53V0Z" fill="currentcolor" />
                                    <path d="M67 0H58V7H67V0Z" fill="currentcolor" />
                                    <path d="M80 0H71V7H80V0Z" fill="currentcolor" />
                                    <path d="M9 14H0V21H9V14Z" fill="currentcolor" />
                                    <path d="M24 14H15V21H24V14Z" fill="currentcolor" />
                                    <path d="M38 14H29V21H38V14Z" fill="currentcolor" />
                                    <path d="M53 14H44V21H53V14Z" fill="currentcolor" />
                                    <path d="M67 14H58V21H67V14Z" fill="currentcolor" />
                                    <path d="M80 14H71V21H80V14Z" fill="currentcolor" />
                                    <path d="M95 14H86V21H95V14Z" fill="currentcolor" />
                                    <path d="M109 14H100V21H109V14Z" fill="currentcolor" />
                                    <path d="M9 28H0V35H9V28Z" fill="currentcolor" />
                                    <path d="M24 28H15V35H24V28Z" fill="currentcolor" />
                                    <path d="M38 28H29V35H38V28Z" fill="currentcolor" />
                                    <path d="M53 28H44V35H53V28Z" fill="currentcolor" />
                                    <path d="M67 28H58V35H67V28Z" fill="currentcolor" />
                                    <path d="M80 28H71V35H80V28Z" fill="currentcolor" />
                                    <path d="M95 28H86V35H95V28Z" fill="currentcolor" />
                                    <path d="M109 28H100V35H109V28Z" fill="currentcolor" />
                                </svg>
                            </div>
                        </div>
                        <div class="about__three-paragraph">
                            <p class="tg__animate-text style2">{{ i.text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <h2 class="big-title">Sherali</h2>
        </section>
        <!-- about-area-end -->



        <!-- team-area -->
        <section class="team__area team-bg section-pt-130 section-pb-100" data-background="assets/img/bg/team_bg.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-60">
                            <span class="sub-title tg__animate-text">our team member</span>
                            <h3 class="title">ACTIVE TEAM MEMBERS</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for i in team %}
                        <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                            <div class="team__item">
                                <div class="team__thumb">
                                    <a href="team-details.html"><img src="{{ i.img.url }}" alt="img"></a>
                                </div>
                                <div class="team__content">
                                    <h4 class="name"><a
                                            href="team-details.html">{{ i.first_name }}&nbsp;{{ i.last_name }}</a></h4>
                                    <span class="designation">{{ i.nick_name }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- team-area-end -->

    </main>
    <!-- main-area-end -->
{% endblock %}

