{% extends 'base.html' %}
{% block body %}
    <!-- main-area -->
    <main class="main--area">

        <!-- breadcrumb-area -->
        <section class="breadcrumb-area" data-background="assets/img/bg/breadcrumb_bg01.jpg">
            <div class="container">
                <div class="breadcrumb__wrapper">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="breadcrumb__content">
                                <h2 class="title">SHAKH DANIAL</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Team Details</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 position-relative d-none d-lg-block">
                            <div class="breadcrumb__img">
                                <img src="assets/img/team/breadcrumb_team.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- team-info-area -->
        <section class="team__info-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="team__info-wrap">
                            <div class="team__info-discord">
                                <div class="about__content-circle">
                                    <img src="assets/img/icons/circle02.svg" alt="img">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" version="1.1">
                                        <path id="textPath" d="M 0,75 a 75,75 0 1,1 0,1 z"></path>
                                        <text>
                                            <textPath href="#textPath">super nft Gaming sits</textPath>
                                        </text>
                                    </svg>
                                    <i class="flaticon-discord"></i>
                                </div>
                                <div class="team__info-discord-info">
                                    <span class="sub">Join Us</span>
                                    <h5 class="title"><a href="https://discord.com/" target="_blank">DISCORD</a></h5>
                                </div>
                            </div>
                            <div class="team__info-list">
                                <ul class="list-wrap">
                                    <li>
                                        <div class="team__info-item">
                                            <div class="team__info-icon">
                                                <img src="assets/img/others/team_vs02.png" alt="img">
                                            </div>
                                            <div class="team__info-content">
                                                <span class="sub">Member</span>
                                                <h5 class="title">Black ninja</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="team__info-item">
                                            <div class="team__info-icon">
                                                <i class="flaticon-swords-1"></i>
                                            </div>
                                            <div class="team__info-content">
                                                <span class="sub">Game play</span>
                                                <h5 class="title">Pubg Mobile</h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="team__info-item">
                                            <div class="team__info-icon">
                                                <i class="flaticon-diamond"></i>
                                            </div>
                                            <div class="team__info-content">
                                                <span class="sub">Win Time</span>
                                                <h5 class="title">04</h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-info-area-end -->

        <!-- team-details-area -->
        <section class="team__details-area section-pt-120 section-pb-120" data-background="assets/img/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="team__details-img">
                            <img src="assets/img/team/team_details.jpg" alt="img">
                            <svg width="145" height="66" viewBox="0 0 145 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.95">
                                    <path d="M11.94 56.1H0V65.38H11.94V56.1Z" fill="currentcolor"/>
                                    <path d="M30.81 56.1H18.87V65.38H30.81V56.1Z" fill="currentcolor"/>
                                    <path d="M49.37 56.1H37.47V65.38H49.37V56.1Z" fill="currentcolor"/>
                                    <path d="M68.25 56.1H56.34V65.38H68.25V56.1Z" fill="currentcolor"/>
                                    <path d="M87.81 56.1H75.91V65.38H87.81V56.1Z" fill="currentcolor"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M95.12 56.1H107.03V65.3799H95.12V56.1Z" fill="currentcolor"/>
                                    <path d="M125.94 56.1H114V65.38H125.94V56.1Z" fill="currentcolor"/>
                                    <path d="M144.5 56.1H132.56V65.38H144.5V56.1Z" fill="currentcolor"/>
                                    <path d="M11.94 37.1H0V46.38H11.94V37.1Z" fill="currentcolor"/>
                                    <path d="M30.81 37.1H18.87V46.38H30.81V37.1Z" fill="currentcolor"/>
                                    <path d="M49.37 37.1H37.47V46.38H49.37V37.1Z" fill="currentcolor"/>
                                    <path d="M68.25 37.1H56.34V46.38H68.25V37.1Z" fill="currentcolor"/>
                                    <path d="M87.81 37.1H75.91V46.38H87.81V37.1Z" fill="currentcolor"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M95.12 37.1H107.03V46.3799H95.12V37.1Z" fill="currentcolor"/>
                                    <path d="M125.94 37.1H114V46.38H125.94V37.1Z" fill="currentcolor"/>
                                    <path d="M144.5 37.1H132.56V46.38H144.5V37.1Z" fill="currentcolor"/>
                                    <path d="M11.94 18.53H0V27.85H11.94V18.53Z" fill="currentcolor"/>
                                    <path d="M30.81 18.53H18.87V27.85H30.81V18.53Z" fill="currentcolor"/>
                                    <path d="M49.37 18.53H37.47V27.85H49.37V18.53Z" fill="currentcolor"/>
                                    <path d="M68.25 18.53H56.34V27.85H68.25V18.53Z" fill="currentcolor"/>
                                    <path d="M87.81 18.53H75.91V27.85H87.81V18.53Z" fill="currentcolor"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M95.12 18.53H107.03V27.85H95.12V18.53Z" fill="currentcolor"/>
                                    <path d="M125.94 18.53H114V27.85H125.94V18.53Z" fill="currentcolor"/>
                                    <path d="M144.5 18.53H132.56V27.85H144.5V18.53Z" fill="currentcolor"/>
                                    <path d="M11.94 0H0V9.28H11.94V0Z" fill="currentcolor"/>
                                    <path d="M30.81 0H18.87V9.28H30.81V0Z" fill="currentcolor"/>
                                    <path d="M49.37 0H37.47V9.28H49.37V0Z" fill="currentcolor"/>
                                    <path d="M68.25 0H56.34V9.28H68.25V0Z" fill="currentcolor"/>
                                    <path d="M86.81 0H74.91V9.28H86.81V0Z" fill="currentcolor"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M94.12 6.10352e-05H106.03V9.27997H94.12V6.10352e-05Z" fill="currentcolor"/>
                                </g>
                            </svg>
                        </div>
                        <div class="team__details-content">
                            <span class="sub-title">our team member</span>
                            <h2 class="title">Online Games for Everyone Find the Best MMOs FOR YOU.</h2>
                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages.</p>
                            <blockquote class="team__details-quote">
                                <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euimods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry.</p>
                                <cite>SHAKH DANIAL</cite>
                            </blockquote>
                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            <div class="team__details-inner-wrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="team__details-inner-img">
                                            <img src="assets/img/team/team_details01.jpg" alt="img">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="team__details-inner-img">
                                            <img src="assets/img/team/team_details02.jpg" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consteur adipiscing Duis elementum sollicitudin is yaugue euismods Nulla ullamcorper. Morbi pharetra tellus miolslis, tincidunt massa venenatis. Lorem Ipsum is simply dummyd the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-details-area-end -->

        <!-- video-area -->
        <section class="video__area video-bg tg-jarallax" data-background="assets/img/bg/video_bg.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-11">
                        <div class="video__content text-center">
                            <a href="https://www.youtube.com/watch?v=ssrNcwxALS4" class="popup-video"><i class="flaticon-play"></i></a>
                            <h2 class="title">JOIN THE <span>COMMUNITY</span></h2>
                            <p>Join our Discord community and choosec onsteur</p>
                            <a href="#" class="video__btn tg-btn-1"><span>join discord</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- video-area-end -->

        <!-- team-area -->
        <section class="team__area team-bg section-pt-130 section-pb-100" data-background="assets/img/bg/team_bg.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-60">
                            <span class="sub-title tg__animate-text">our team member</span>
                            <h3 class="title">ACTIVE TEAM MEMBERS</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="team__item">
                            <div class="team__thumb">
                                <a href="team-details.html"><img src="assets/img/team/team01.png" alt="img"></a>
                            </div>
                            <div class="team__content">
                                <h4 class="name"><a href="team-details.html">killer master</a></h4>
                                <span class="designation">Blockchain Expert</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="team__item">
                            <div class="team__thumb">
                                <a href="team-details.html"><img src="assets/img/team/team02.png" alt="img"></a>
                            </div>
                            <div class="team__content">
                                <h4 class="name"><a href="team-details.html">tanu mark</a></h4>
                                <span class="designation">Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".6s">
                        <div class="team__item">
                            <div class="team__thumb">
                                <a href="team-details.html"><img src="assets/img/team/team03.png" alt="img"></a>
                            </div>
                            <div class="team__content">
                                <h4 class="name"><a href="team-details.html">Thompson Scot</a></h4>
                                <span class="designation">Art Director</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="team__item">
                            <div class="team__thumb">
                                <a href="team-details.html"><img src="assets/img/team/team04.png" alt="img"></a>
                            </div>
                            <div class="team__content">
                                <h4 class="name"><a href="team-details.html">Shakh Danial</a></h4>
                                <span class="designation">Crypto Advisor</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-area-end -->

    </main>
    <!-- main-area-end -->

{% endblock %}